// Here you can add other styles

.header-logo {
  padding: 2%;
  max-height: 150px;
  margin-bottom: 14%;
  margin-top: 14%;
}

.avatar-img {
  border-radius: 0px;
  fill: #ff0000;
}

.home-icon {
  margin: auto;
  float: left;
  margin-right: 2%;
  width: 3rem !important;
  height: 3rem !important;
  font-size: 1rem !important;
}

.setting-button {
  transform-box: fill-box;
  transition: transform 0.3s ease-out;
}

.setting-button:hover {
  transform: rotate(90deg);
}

.personal-info-bg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.personal-icon {
  margin: auto;
  float: left;
  margin-right: 2%;
  width: 2rem !important;
  height: 2rem !important;
  font-size: 1rem !important;
}

.personal-text {
  margin-top: 0.5%;
  font-size: 1.05rem;
}

.update-btn {
  font-size: 1.1rem;
  margin: 1%;
  background-color: #3c4b64;
  color: white;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07), 0 4px 8px rgba(0, 0, 0, 0.07),
    0 8px 16px rgba(0, 0, 0, 0.07), 0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);
  border: none;
}

.info-card {
  max-width: 36rem;
  margin-left: 10px;
  margin-right: 10px;
}

.align-detail {
  margin: 0 auto !important;
}

.card-out {
  margin: auto;
  width: 100vh;
}

.check-icon {
  background-color: #44cc04;
  border-radius: 50%;
  color: white;
  padding: 1%;
  font-weight: 800;
}

.x-icon {
  background-color: #ff0000;
  border-radius: 50%;
  color: white;
  padding: 2%;
}

.warning-icon {
  color: rgb(255, 0, 0);
  font-weight: 800;
}

.app-check {
  color: #44cc04;
  transition: ease 0.3s;
}

.app-check:hover {
  border-radius: 50%;
  color: white;
  background-color: #44cc04;
  padding: 12%;
}

.app-decline {
  color: red;
  transition: ease 0.3s;
}

.app-decline:hover {
  border-radius: 50%;
  color: white;
  background-color: red;
  padding: 12%;
}

.labelweight {
  display: block;
  width: 500px;
}

.magazine-body {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;

  margin-top: 20px;
}

.magazine-text {
  flex-grow: 1;
  flex-basis: 0;

  font-size: 20px;

  text-align: center;
}

.magazine-icon {
  flex-grow: 1;
  flex-basis: 0;
  height: 60px;
  object-fit: contain;
}

.l-container {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.l-row {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 750px;
}
@media screen and (max-width: 750px) {
  .l-row {
    width: 100%;
  }
}
// .k-item {
// }

.k-title {
  display: inline-block;
  font-size: medium;
  color: rgb(0, 132, 255);
  cursor: pointer;
}

.k-body {
  display: none;
}

.k-body > ul {
  list-style: none;
}

.k-body.show {
  display: block;
}

.navbar-dropdown-menu {
  width: 250px;
}

.navbar-dropdown-menu > li > a {
  font-weight: 500;
  color: #2c344aae;
  white-space: normal;
  text-align: center;
}

.navbar-dropdown-menu > li:not(:last-child)::after {
  content: "";
  position: absolute;

  left: 50%;
  transform: translateX(-50%);

  display: block;
  width: 80%;
  border-bottom: 1px solid #ddd;
}

@media only screen and (max-width: 992px) {
  .navbar-dropdown-menu {
    width: 100% !important;
    border: none !important;
  }
}

.card-animation {
  cursor: pointer;
  position: relative;
  padding: 10px 20px;
  background: pink;
  font-size: 14px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  transition: all 1s;
  &:after,
  &:before {
    content: " ";
    width: 10px;
    height: 10px;
    position: absolute;
    border: 0px solid #b03232;
    transition: all 1s;
  }
  &:after {
    top: -1px;
    left: -1px;
    border-top: 5px solid rgb(89, 255, 0);
    border-left: 5px solid rgb(89, 255, 0);
  }
  &:before {
    bottom: -1px;
    right: -1px;
    border-bottom: 5px solid rgb(89, 255, 0);
    border-right: 5px solid rgb(89, 255, 0);
  }
  &:hover {
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    // background:rgba(0,0,0,.5);
    // color:white;
    &:before,
    &:after {
      width: 100%;
      height: 100%;
      // border-color:white;
    }
  }
}

@keyframes pulse-shrink {
  to {
    transform: scale(0.9);
  }
}

.pulse-shrink {
  display: inline-block;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.pulse-shrink:hover {
  animation-name: pulse-shrink;
  animation-duration: 0.3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.flex-career {
  display: flex;
}

.flex-career-1 {
  flex: 1;
}

.companies-card {
  box-shadow: 0 1px 3px rgba(3, 52, 27, 0.178), 0 1px 2px rgba(3, 52, 27, 0.178);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  &:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }
}
